@import url('https://fonts.googleapis.com/css2?family=Sniglet&display=swap');
:root{
    --primary-color:#F2C94C;
}
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Sniglet', cursive;
    /* background-image: url('minionSpeak.png'); */
}
.first-section{
    padding-bottom: 3rem;
}
.minion-img{
    height:2rem;
    width:3rem;
    border-radius: 50%;
}
.container-center{
    max-width: 600px;
    margin:auto;
    padding:2rem;
    /* border:2px solid black; */
    box-shadow: 5px 3px 5px 5px var(--primary-color);
}
.heading{
    text-align: center;
    padding:10px;
    background:var(--primary-color);
}
.translate-btn{
    margin:10px 20px;
}
.btn-primary:focus{
    outline: none;
}
#input,#output{
    display:block;
    margin:1rem;
    padding:1rem;
    width:80%;
    height:10vh;
    border:1px solid black;
}
#input,#output:focus{
    outline: none;
}
.btn-primary{
    padding:10px;
    border-radius: 85px;
    background:var(--primary-color);
    color:black;
}
h3{
    margin-left:10px;
}
.footer{
    padding: 1rem;
    margin: auto;
    text-align: center;
    background-color: var(--primary-color);
    max-width:100%;
}
.footer p{
    max-width: 650px;
    margin:auto;
}
.footer-heading{
    margin-bottom: 2px;
}
.footer p{
    line-height:1.5;
}